/* shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}

/* nav styles */
.text-primary {
    color: #3cb371;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
}

nav li {
    margin-right: 50px;
}

nav a {
    text-decoration: none;

}

.btn-primary {
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    background-color: #3cb371;
    margin: 7px;
    padding: 12px;
}

.web-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* header styles */
.header {
    background-color: #fff8f3;
}

.banner-container {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner-img {
    width: 500px;
}